{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Zarejestuj się</h3>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Wpisz email"
    />
  </div>
  <div class="form-group">
    <label for="firstName">Imię</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Wpisz imię"
    />
  </div>
  <div class="form-group">
    <label for="password1">Hasło</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Wpisz hasło"
    />
  </div>
  <div class="form-group">
    <label for="password2">Hasło (Ponownie)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Potwierdź hasło"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Zatwiedź</button>
</form>
{% endblock %}
